.button {
  outline: none;
  border: 0;
  border-radius: 5px;
  transition: 0.3s;
  font-size: 16px;
  font-weight: 700;
  background-color: green;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

.button:hover {
  background-color: darkgreen;
}
